


  <div class="container py-3">
    <div class="row centrar">
        <div class="col-lg-12">
  
          <form class="contact-form row" [formGroup]="formMedico" (ngSubmit)="agregarMedico()">
  
  


            <div class="form-row">
              <div class="row">
                <div class="form-group col-md-6">
                 <label class="col-sm-6 col-form-label"><strong>Persona :</strong></label>
                 <select class="form-select form-select-lg mb-3" [(ngModel)]='personaSelected'
                 (change)="getIdPersona($event)" formControlName="id_persona">
                 <option *ngFor="let persona of persona" value={{persona.id}}  >
                   {{persona.nombres}}</option>
               </select>
                </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-6 col-form-label"><strong>Especialidad :</strong></label>
                  <select class="form-select form-select-lg mb-3" [(ngModel)]='especialidadSelected'
                    (change)="getIdEspecialidad($event)" formControlName="id_especialidad">
                    <option *ngFor="let especialidad of especialidad" value={{especialidad.id}}  >
                      {{especialidad.especialidad}}</option>
                  </select>
                </div>
              </div>
            </div>
  
            <div class="form-row">
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="col-sm-6 col-form-label"><strong>Especialista :</strong></label>
                  <input type="text" formControlName="especialista" class="form-control form-control-lg">
                </div>
                <div class="form-group col-md-6">
                  <label class="col-sm-6 col-form-label"><strong>Colegiatura :</strong></label>
                  <input type="text" formControlName="colegiatura" class="form-control form-control-lg">
                </div>
              </div>
            </div>
  
  
            <div class="d-grid gap-2 py-5">
              <button class="btn btn-success btn-lg btn-block" [disabled]="!formMedico.valid">Registrar</button>
              <button class="btn btn-danger btn-lg btn-block" (click)="cancelar()">Cancelar</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  
