<app-mat-toolbar></app-mat-toolbar>

<div class="container pt-2">

    <h1>TÉRMINOS Y CONDICIONES</h1>

    <h2>1. Introducción</h2>

    <p>
        Bienvenido al App CVG. Queremos que disfrute el tiempo que pase aquí. Como este es un sitio web de registro de cinas en linea, existen numerosas leyes y regulaciones que regulan nuestras actividades. Estas reglas se explican de la manera más clara posible en estos términos y condiciones ("las Reglas").
        Gracias por tomarse el tiempo para conocer acerca de las Reglas de CVG. Esta es la manera en que le hacemos saber qué puede y qué no puede hacer en CVG, cómo utilizamos su información personal y cómo administramos el Sitio.
        Si todavía tiene dudas después de leerlas póngase en contacto con nosotros enviandonos un correo al administracion@clinicalurin.com.
    </p>

    <h2>2. Bases</h2>

    <p>Las Reglas son un acuerdo vinculante entre nosotros y al hacer clic aceptando las Reglas al crear tu cuenta y/o al utilizar 
    el sitio web, aceptas que has leído y aceptado las Reglas y sus modificaciones. 
    Si no estás de acuerdo con las Reglas, no deberías registrarte ni continuar utilizando el sitio web. Así como todo cambia, 
    tenemos la facultad de cambiar estas Reglas en cualquier momento. Cuando lo hacemos de manera sustancial, te contactaremos y te 
    informaremos con anticipación las nuevas Reglas.</p>

    <h2>3. Registro</h2>

    <h3>3.1 Haga clic en el botón "Abrir Cuenta".</h3>
    <h3>3.1.2 Complete correctamente el formulario de registro incluyendo:</h3>
    
    <p>Su nombre completo;</p>
    <p>Su dirección actual;</p>
    <p>Su dirección válida de correo electrónico;</p>
    <p>Su departamento,provincia y distrito de residencia actual;</p>
    <p>Su teléfono celular;</p>
    <p>Su fecha de nacimiento;</p>
    <p>Su género;</p>
    <p>Introduce una contraseña; y</p>
    <p>Seleccione la divisa con la que desea jugar.</p>

    <h2>4. Edad</h2>

    <p>Nos reservamos el derecho de solicitar un comprobante de edad y realizar comprobaciones para verificar la información 
        que nos proporciones. Si se descubre que eres menor de 18 años, tomaremos las medidas necesarias para evitar que sigas usando 
        el sitio web, lo que incluye la devolución de depósitos y la anulación de citas registradas.</p>

</div>